<div class="main-heading-container">
  <h2 class="main-heading">
    <span class="main-heading-primary">Customer List</span>
  </h2>
</div>

<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>
<hr>
<mat-card class="balance-container">
  <button mat-flat-button style="background-color: #0caf0c!important;" (click)="handleAddAction()">Add Customer</button>
</mat-card>
<hr>
<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name ? element.name : 'empty' }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email ? element.email : 'empty' }}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone ? element.phone : 'empty' }}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.address ? element.address : 'empty' }}</td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let element">{{ element.city ? element.city : 'empty' }}</td>
    </ng-container>
    <ng-container matColumnDef="postalCode">
      <th mat-header-cell *matHeaderCellDef>Postal Code</th>
      <td mat-cell *matCellDef="let element">{{ element.postalCode ? element.postalCode : 'empty' }}</td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element">{{ element.country ? element.country : 'empty' }}</td>
    </ng-container>
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef>Invoices</th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button mat-icon-button matTooltip="View">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Modify</th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button mat-icon-button matTooltip="Edit" (click)="handleUpdateAction(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Delete button -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button style="color: red!important;" mat-icon-button matTooltip="Delete" (click)="handleDeleteAction(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
