<div class="main-heading-container">
  <h2 class="main-heading">
    <span class="main-heading-primary">Welcome Klajdi</span>
  </h2>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title title-bold">Total Invoices</h2>
        <h1 class="title">123</h1>
        <p><button class="button" [routerLink]="['/invoice-app/invoice']">View </button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title title-bold">Total Items</h2>
        <h1 class="title">150</h1>
        <p><button class="button" [routerLink]="['/invoice-app/item']">View </button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title title-bold">Total Customers</h2>
        <h1 class="title">104</h1>
        <p><button class="button" [routerLink]="['/invoice-app/customer']">View</button></p>
      </div>
    </div>
  </div>
</div>
